<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.apptrovertscube.manojprabahar.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider459685021065977"
            android:exported="true" />

        <activity
            android:name=".LoginActivity"
            android:label="Login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CalendarActivity"
            android:label="@string/title_activity_b"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="Main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DemoActivity"
            android:label="DemoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DailyReceiptActivity"
            android:label="Receipt"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MonthView"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddressForm"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_eHDJ4qv6MKeHwY" />

        <activity
            android:name=".Payment"
            android:label="@string/title_activity_payment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".HelpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>